*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #1D1D22;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: #1D1D22;
}


/* navbar */
nav{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;

}

nav ul{
    width: 21.25%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
nav ul li{
    color: black ;
}
nav ul li:hover{
    color: rgb(75, 75, 75);
}

nav a .logo{
    width: 130px;
}
nav a .logo:hover{
    opacity: 50%;
}

.btn-register{
    padding: 12px 36px;
    border: none;
    background-color: #FFBB36;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    border-radius: 50px;
}
.btn-register a{
    color: white !important;
}
.btn-register:hover{
    opacity: 50%;
    box-shadow: 0px 7px 10px #ffbc3628 ;
}

/* navbar end */

/* header start */
.header{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img:nth-child(1){
    width: 11%;
}

.header img:nth-child(3){
    margin-top: 10px;
    width: 50%;
}

/* header end */
/* service start */

.service{
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service h1{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.icon{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    height: max-content;
}
.icon div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    max-height: 106.5px;
}
.icon img{
    width: 50%;
}

.icon div h3{
    margin-top: 15px;
    font-weight:600;
    text-align: center;
}
/* service end */

/* feel secure start */
.feel-secure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
    text-align: center;
    color: white;
}

.feel-secure img:first-child{
    width: 70%;
}

.text-feel-secure{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
}

.text-feel-secure h1{
    font-size: 50px;
    line-height: 60px;
}

.feel-secure img:last-child{
    margin-top: 20px;
    width: 11%;
}




/* feel secure end */

/* pict collection  start*/
.container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    /* height: 100px; */
}
.pict-collection{
    width: 70%;
    display:flex;
    justify-content: space-between;
    align-items: end;
}
.left{
    width: 49%;
    display: flex;    
    align-items: end;
}
.left img{
    width:100%;
}
.right{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: end;
}
.right img{
    margin-top: 20%;
    width: 100%;
}
.right h1{
    font-size: 60px;
}
/* pict collection end */

/* card star*/
.card-container{
    background-color: #FFBB36;
    background-size: cover;
    height: 500px;
    padding-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    position: relative;
    border-radius: 0 0 25% 25%;
}

.card-container h1{
    position: absolute;
    top: 70px;
    line-height: 100%;
    font-size: 60px;
    color: white;

}

.card{
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    position: absolute;
    top: 150px;
}

.card1,.card2,.card3{
    height: 400px;
    background-color: #fff;
    width:30%;
    border-radius: 30px;
    box-shadow: -9px 0 33px #00000013;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    gap: 3%;
    transition: all ease-in-out 0.2s;
}

.card1:hover{
    box-shadow: -9px 0 33px rgba(0, 0, 0, 0.116);
    transform: translateY(-10px);
}
.card2:hover{
    box-shadow: -9px 0 33px rgba(0, 0, 0, 0.116);
    transform: translateY(-10px);
}
.card3:hover{
    box-shadow: -9px 0 33px rgba(0, 0, 0, 0.116);
    transform: translateY(-10px);
}

/* card end */

/* get app start */
.get-app-container{
    display: flex;
    margin-top: 15%;
}

.get-apps{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.app-left{
    width: 49%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.app-right{
    display: flex;
    flex-direction: column;
    width: 49%;
    justify-content: center;
    align-items: start;
}


/* button download now */
.download-now{
    font-family: 'Poppins', sans-serif;
    padding: 10px 30px;
    color: #FFBB36 !important;
    border: solid 1px #FFBB36;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.download-now a{
    color: #FFBB36;
}

.download-now:hover{
    background-color: #1D1D22;
    border: solid 1px white;
}
/* get app end */

/* footer start */
footer{
    background-color: #1D1D22;
    padding: 50px;
    color: white !important;
    font-size: small;
}
footer h4{
    font-size: large;
}
div.footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    display: flex;
}
footer a{
    color: white;
}

.footer1,.footer2,.footer3,.footer4{
    display: flex;
    flex-direction: column;
    width: 24%;
}
/* footer end */